@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddNewSong";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="song-add-container" class="genre-singer-add">
    <h1>افزودن آهنگ جدید</h1>
    <form action="AddNewSong" enctype="multipart/form-data" method="post"
          id="song-add" class="genre-singer-form">

        <div class="fileAddDiv">
            <input type="text" id="song-name-txt" placeholder="نام آهنگ" class="song-add-styles">
        </div>

        <div class="fileAddDiv">
            <input type="text" id="song-time-txt" placeholder="زمان" class="song-add-styles" />
        </div>

        <div class="fileAddDiv">
            <p>انتخاب هنرمند :</p>
            <select name="singers" id="select-singer" class="song-add-styles" asp-items="@ViewBag.Singers">
            </select>
        </div>

        <div class="fileAddDiv">
            <p>انتخاب سبک : </p>
            <select name="genres" id="select-genre" class="song-add-styles" asp-items="@ViewBag.Genres">
            </select>
        </div>

        <div class="fileAddDiv">
            <p>انتخاب لیست پخش : </p>
            <select name="playList" id="select-playList" class="song-add-styles" asp-items="@ViewBag.PlayLists">
            </select>
        </div>

        <div class="fileAddDiv">
            <p>انتخاب عکس : </p>
            <input name="imagefile" type="file" id="select-image" class="file-add-styles">
        </div>
        <div class="fileAddDiv">
            <p>انتخاب فایل آهنگ : </p>
            <input name="songfile" type="file" id="select-song-file" class="file-add-styles">
        </div>

        <div class="fileAddDiv">
            <a id="btnAddSong" class="add-song-btn genre-singer-btn">افزودن آهنگ</a>
        </div>
    </form>
</div>

@section Scripts{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    
    <script>
        $('#btnAddSong').on('click', function () {

            var data = new FormData();
            data.append("Name", $("#song-name-txt").val());
            data.append("Duration", $("#song-time-txt").val());
            data.append("SingerId", $("#select-singer").find('option:selected').val());
            data.append("PlayListId", $("#select-playList").find('option:selected').val());
            data.append("GenreId", $("#select-genre").find('option:selected').val());

            var image = document.getElementById('select-image');
            if (image.files.length > 0) {
                for (var i = 0; i < image.files.length; i++) {
                    data.append("images-" + i, image.files[i]);
                }
            }

            var song = document.getElementById('select-song-file');
            if (song.files.length > 0) {
                for (var i = 0; i < song.files.length; i++) {
                    data.append("song-" + i, song.files[i]);
                }
            }

            var ajaxRequest = $.ajax({
                type: "POST",
                dataType:"json",
                url: "AddNewSong",
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire(
                            'موفق!',
                            data.message,
                            'success'
                        ).then(function (isConfirm) {
                            window.location.href = "/Admin/Song/"
                        });

                    }
                    else {
                        swal.fire(
                            'هشدار!',
                            data.message,
                            'warning'
                        );
                    }
                },
                error: function (request, status, error) {
                    alert(xhr.status);
                    alert(thrownEroor);
                }
            });
            ajaxRequest.done(function (xhr, textStatus) {
                // Do Somthing
            });
        });
        

    </script>
}